doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proyek TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
      h1 Belajar HTML

      section
        h2.bullet O L E H :
        hr
        ul
          li <em>Andra</em>
          li <em>Fajar Julianto</em>
          li <em>Fredico</em>
          li <em>Rudy Tantono</em>
      
      section
        h2 Pengenalan WWW & HTML

      section
        h2 Istilah Penting dalam WWW

      section
        ul
          li <i>Web master/web manager</i> : orang yang bertugas menjaga halaman web
          li <i>Surfer</i> : orang yang menjelajahi web
          li <i>Hyperlink/Link</i> : tulisan atau gambar yang jika diklik akan menampilkan halaman web lainnya
          li <i>Hypertext</i> : teks dalam dokumen yang saling terhubung dengan teks lain dalam cara yang nonlinear
          li <i>URL</i> : rangkaian karakter menurut suatu format standar tertentu, yang digunakan untuk menunjukkan alamat suatu sumber seperti dokumen dan gambar di internet.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild