doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proyek TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 TKPPL
        ul
          li 
          li Pembimbing : Hardy Huang

      section
        h1 Belajar HTML

      section
        h2 O L E H :
        hr
        ul
          li
          li <em>Andra</em>
          li <em>Fajar Julianto</em>
          li <em>Fredico</em>
          li <em>Rudy Tantono</em>

      section
        h2 Pengenalan WWW & HTML
        ul
          li
          li Berawal pada tahun 1989 di CERN (Consei Europeen pou Ia Reserche Nucleaire/Pusat Riset Nuklir Eropa), Jenewa, Swiss oleh Tim Berners-Lee
          li Menawarkan informasi melimpah dalam berbagai bentuk dengan keterkaitan dokumen <i>Hypertext</i> dan multimedia

      section
        ul
          li Web menggunakan teknologi :
            li <p = "text-align:center">- HTML (<i>Hypertext Markup Language</i>) dipakai untuk menulis web pages</p>
            li <p = "text-align:center">- HTTP (<i>Hypertext Transfer Protocol</i>) untuk transmisi pages</p>
            li <p = "text-align:center">- <i>Web browser client</i>, program untuk menerima data, menerjemahkan dan menampilkan hasil</p>
        ul
          li <i>Web</i> juga telah diadopsi oleh perusahaan sebagai strategi teknologi informasi, karena alasan berikut :
            li - Akses informasi yang mudah
            li - Setup server yang mudah
            li - Distribusi informasi yang mudah dan cepat 

      section
        h2 Istilah Penting dalam WWW
        ul
          li 
          li <i><b>Web master/web manager</b></i> : orang yang bertugas menjaga halaman Web
          li <i><b>Surfer</b></i> : orang yang menjelajahi web
          li <i><b>Hyperlink</b></i> : tulisan atau gambar yang jika diklik akan menampilkan halaman web lainnya
          li <i><b>Hypertext</b></i> : teks dalam dokumen yang saling terhubung dengan teks lain dalam cara yang nonlinear
          li <i><b>URL</b></i> : rangkaian karakter menurut suatu format standar tertentu, yang digunakan untuk menunjukkan alamat suatu sumber seperti dokumen dan gambar di internet.
          
      section
        h2 Cara Kerja WWW
        ul
          li 
          li <p style="text-align:center">Informasi <i>web</i> disimpan dalam dokumen yang dinamakan <i>web page</i></p>
          li <p style="text-align:center">Web <i>page</i> disimpan ke dalam komputer yang dinamakan <i>web server</i></p>
          li <p style="text-align:center"><i>User</i> menampilkan <i>web page</i> dengan menggunakan <i>web browser</i></p>
          li <p style="text-align:center"><i>Web browser</i> meminta <i>web page</i> kepada <i>web server</i> dengan mengirim <i>request</i> alamat dari <i>web page</i> tersebut, misalnya <u>http://www.yahoo.com</u></p>
          li <p style="text-align:center">Pada saat <i>web browser</i> menerima <i>web page</i> dari <i>web server</i>, isi <i>web page</i> akan diterjemahkan dan ditampilkan ke layar oleh <i>web browser</i></p>
        
      section 
        h3 HTML dan CSS dasar
          hr
          ul
          li Pengantar
          li Struktur Dokumen HTML
          li Penulisan HTML
          li Entitas karakter
          li Dasar CSS

      section
        h3 Pengantar
          hr
          ul 
            li <b>HTML</b> : Bahasa Penanda yang digunakan untuk memberikan struktur kepada sebuah konten/teks 
            li <b>CSS</b>  : Bahasa yang digunakan untuk memberikan konten gaya penampilan konten menjadi lebih bagus
            <li style="font-size:14px"> Contoh  : kita memberikan elemen paragraph (<"p">...<"/p"> pada sebuah konten yang berarti konten tersebut akan dijadikan sebuah paragraf. CSS kemudian digunakan untuk menentukan ukuran teks,warna teks,spasi, dan berbagai gaya penampilan dari paragraph (konten) tersebut.

      section

        h3 Struktur Dokumen HTML
          ul <b> Elemen HTML</b>
            p
              li <p style="font-size:14px">Mengandung keseluruhan Dokumen HTML
              li <p style="font-size:14px">Tag pembuka elemen HTML merupakan tanda awal dokumen HTML, dan tag penutup adalah tanda akhir Dokumen.
          ul <b> Elemen Head</b>
              li <p style="font-size:14px">Tidak harus ada pada dokumen HTML
              li <p style="font-size:14px">Digunakan untuk menguraikan berbagai meta data(informasi yang berkaitan dengan dokumen), judul dokumen,dan tautan dokumen ke berkas-berkas eksternal
              
      section
        h2 Struktur Dokumen HTML
          hr
          ul 
              li <p style="font-size:14px">Berbagai data yang ada di dalam elemen head tidak terlihat pada halaman web(tampilan browser)
          ul <b> Elemen title</b>
            li <p style="font-size:14px">memberikan judul dokumen
          ul <b> elemen Body</b>
            li <p style="font-size:14px">Merupakan isi utama dari dokumen HTML
            li <p style="font-size:14px">Semua Informasi yang akan ditampilkan seperti teks,gambar,suara dan sebagainya akan ditempatkan dibagian ini
            li <p style="font-size:14px">Memiliki beberapa atribut yang digunakan untuk mengatur penampilan dokumen HTML

      section

        h3 Penulisan HTML
          hr
          <li style="font-size:14px"> Browser HTML menginterpretasikan satu atau beberapa spasi yang berdekatan sebagai sebuah spasi tunggal
          <li style="font-size:14px"> Browser HTML menginterpretasikan <i>carriage return</i>(enter) dan indentasi(tab) sebagai sebuah spasi
          <li style="font-size:14px"> Ada beberapa karakter khusus yang dapat dipresentasikan dengan kode tertentu. Hal ini akan dibahas pada entitas karakter.

      section
        h3 Komentar pada HTML
          hr
          <li style="font-size:14px">Berfungsi untuk memberi komentar atau catatan terhadap dokumen itu tersendiri
          <li style="font-size:14px">Mempermudah pembacaan kembali kode-kode HTML
          <li style="font-size:14px">Isi dari tag comment tidak ditampilkan oleh web browser
          <li style="font-size:14px">Menggunakan tanda khusus agar komentar tidak dapat dibaca pada browser
          <li style="font-size:14px">Tag yang digunakan menandai bagian komentar adalah:<!--dan diakhiri dengan-->

      section
        h3 Entitas Karakter
          hr
          <li style="font-size:14px">Beberapa karakter di dalam dokumen HTML merupakan reserved word HTML
          <li style="font-size:14px">Misalnya tidak boleh mengetikan tanda "<" atau ">" dalam teks editor karena browser akan menganggapnya sebagai tag
          hr
          ul terdiri dari 3 bagian :
            <li style="font-size:14px">Ampersand (&)
            <li style="font-size:14px">Nama Entitas, atau simbol # diikuti nomor entitas
            <li style="font-size:14px">Simbol titik koma(;)
          <li style="font-size:14px">Bersifat case sensitive

      section
        h3 Dasar CSS
          hr
          li Cascading Style Sheets
          ul Kelebihan CSS :
            <li style="font-size:14px">Menyederhanakan perancangan halaman web
            <li style="font-size:14px">Memudahkan pemeliharaan halaman web
            l<li style="font-size:14px">Memperkecil ukuran file HTML(jika CSS dikerjakan dalm file terpisah)
          ul Kekurangan CSS :
            <li style="font-size:14px">Halaman WEB mungkin tidak ditampilkan dengan benar pada browser,sesuai Spesifikasi CSS
            
      section
        h3 Rule
          hr
          <li style="font-size:14px">Selector-> Elemen atau tag HTML normal yang ingin didefinisikan.
          <li style="font-size:14px">Property-> Atribut yang ingin dipilih,dimana masing-masing 
          p <b>Property</b> dapat diberikan nilai(<b>value</b>)
          <li style="font-size:14px">Penulisan antara <b>Property</b> dan <b>value</b> dipisahakan oleh tanda titik dua(:) dan dibuka dengna tanda "{" dan ditutup dengan tanda "}"
        ul Komentara Pada CSS
          hr
          <li style="font-size:14px">Dimulai dengan tanda /*
          <li style="font-size:14px">Diakhiri dengan tanda */

      section
        h2 Tag HTML
        hr
        ul
          li
          li Digunakan untuk menandai elemen HTML
          li Diapit oleh dua karakter (<b><</b> dan <b>></b>)
          li Teks yang terletak diantara tag awal dan akhir adalah isi elemen
          li Tidak <em>case sensitive</em> (contoh : < b > tidak berbeda dengan < B >)

      section
        h2 Atribut Tag HTML
        hr
        ul
          li 
          li Tag - Tag HTML dapat memiliki atribut
          li Dapat diberi nilai ataupun tidak berniilai
          li Didefnisikan pada tag awal dari sebuh elemen HTML

      section
        ul
          li
          li Penulisan tag yang memiliki atribut : <br>
          li *) < nama_tag atribut1="nilai" [atribut2="nilai" atribut3="nilai" ...] >
          li Contoh : 
          li < hr align="right" >
          li < hr align="left" noshade >
          li < img src="images/foto.jpg" alt=" " height="400" width "300" >
          hr
          hr
          li *) < nama _tag atribut="nilai" [atribut2="nilai" atribut3="nilai" ...] > ... < /nama tag>
          li Contoh:
          li < font face="Arial" size="5" color="#CCCC"> ... < /font >

      section
        h1 Hyperlink
          
      section
        ul
          li Hyperlink merupakan kata, kalimat atau gambar yang ketika diklik dapat navigasi ke halaman lainnya. Dengan link, pengunjung website dapat navigasi dengan mudah dari suatu halaman ke halaman lainnya. Gunakan tag < a > untuk mendefinisikan HTML Link. Secara default, link ditampilkan : 
              li <p = "text-align:center">Warna biru & bergaris bawah untuk yang belum pernah dikunjungi
              li <p = "text-align:center">Warna ungu & bergaris bawah untuk yang sudah pernah dikunjungi

      section
        h2 Layout

      section
        hr
        ul
          li Layout berbicara mengenai bagaimana penataan elemen-elemen dalam sebuah halaman dengan benar. Pada bagian ini, kita hanya akan membahas elemen-elemen layout yang umumnya ditemukan pada dokumen web, dan bagaimana membuat elemen-elemen tersebut dengan <b>HTML</b> dan <b>CSS</b>.
        ul

      section
        hr
        ul
        <p style="text-align:center"> Sebuah dokumen web umumnya memiliki 5 elemen sebagai berikut:
        li Header
        li Navigation
        li Sidebar
        li Content
        li Footer


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild