doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proyek TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 TKPPL

      section
        h1 Belajar HTML

      section
        h2.bullet O L E H :
        hr
        ul
          li <em>Andra</em>
          li <em>Fajar Julianto</em>
          li <em>Fredico</em>
          li <em>Rudy Tantono</em>
      
      section
        h2 Pengenalan WWW & HTML 

      section
        ul
          li Berawal pada tahun 1989 di CERN (Consei Europeen pou Ia Reserche Nucleaire/Pusat Riset Nuklir Eropa), Jenewa, Swiss oleh Tim Berners-Lee
          li Menawarkan informasi melimpah dalam berbagai bentuk dengan keterkaitan dokumen <i>Hypertext</i> dan multimedia

      section
        ul
          li Web menggunakan teknologi :
            li <p = "text-align:center">- HTML (<i>Hypertext Markup Language</i>) dipakai untuk menulis web pages</p>
            li <p = "text-align:center">- HTTP (<i>Hypertext Transfer Protocol</i>) untuk transmisi pages</p>
            li <p = "text-align:center">- <i>Web browser client</i>, program untuk menerima data, menerjemahkan dan menampilkan hasil</p>
        ul
          li <i>Web</i> juga telah diadopsi oleh perusahaan sebagai strategi teknologi informasi, karena alasan berikut :
            li - Akses informasi yang mudah
            li - Setup server yang mudah
            li - Distribusi informasi yang mudah dan cepat

      section
        h2 Istilah Penting dalam WWW

      section
        ul
          li <i>Web master/web manager</i> : orang yang bertugas menjaga halaman web
          li <i>Surfer</i> : orang yang menjelajahi web
          li <i>Hyperlink/Link</i> : tulisan atau gambar yang jika diklik akan menampilkan halaman web lainnya
          li <i>Hypertext</i> : teks dalam dokumen yang saling terhubung dengan teks lain dalam cara yang nonlinear
          li <i>URL</i> : rangkaian karakter menurut suatu format standar tertentu, yang digunakan untuk menunjukkan alamat suatu sumber seperti dokumen dan gambar di internet.

      section
        h3 HTML dan CSS dasar
          hr
          ul
          li Pengantar
          li Struktur Dokumen HTML
          li Penulisan HTML
          li Entitas karakter
          li Dasar CSS

      section
        h3 Pengantar
          hr
          ul 
            li <b>HTML</b> : Bahasa Penanda yang digunakan untuk memberikan struktur kepada sebuah konten/teks 
            li <b>CSS</b>  : Bahasa yang digunakan untuk memberikan konten gaya penampilan konten menjadi lebih bagus
            <li style="font-size:14px"> Contoh  : kita memberikan elemen paragraph (<"p">...<"/p"> pada sebuah konten yang berarti konten tersebut akan dijadikan sebuah paragraf. CSS kemudian digunakan untuk menentukan ukuran teks,warna teks,spasi, dan berbagai gaya penampilan dari paragraph (konten) tersebut.
        

      section

        h3 Struktur Dokumen HTML
          
          ul <b> Elemen HTML</b>
            p
              li <p style="font-size:14px">Mengandung keseluruhan Dokumen HTML
              li <p style="font-size:14px">Tag pembuka elemen HTML merupakan tanda awal dokumen HTML, dan tag penutup adalah tanda akhir Dokumen.
          ul <b> Elemen Head</b>
              li <p style="font-size:14px">Tidak harus ada pada dokumen HTML
              li <p style="font-size:14px">Digunakan untuk menguraikan berbagai meta data(informasi yang berkaitan dengan dokumen), judul dokumen,dan tautan dokumen ke berkas-berkas eksternal
              
      section

        h3 Struktur Dokumen HTML
          hr
          ul 
              li <p style="font-size:14px">Berbagai data yang ada di dalam elemen head tidak terlihat pada halaman web(tampilan browser)
          ul <b> Elemen title</b>
            li <p style="font-size:14px">memberikan judul dokumen
          ul <b> elemen Body</b>
            li <p style="font-size:14px">Merupakan isi utama dari dokumen HTML
            li <p style="font-size:14px">Semua Informasi yang akan ditampilkan seperti teks,gambar,suara dan sebagainya akan ditempatkan dibagian ini
            li <p style="font-size:14px">Memiliki beberapa atribut yang digunakan untuk mengatur penampilan dokumen HTML

      section

        h3 Penulisan HTML
          hr
          <li style="font-size:14px"> Browser HTML menginterpretasikan satu atau beberapa spasi yang berdekatan sebagai sebuah spasi tunggal
          <li style="font-size:14px"> Browser HTML menginterpretasikan <i>carriage return</i>(enter) dan indentasi(tab) sebagai sebuah spasi
          <li style="font-size:14px"> Ada beberapa karakter khusus yang dapat dipresentasikan dengan kode tertentu. Hal ini akan dibahas pada entitas karakter.

        h2 Cara Kerja WWW

      section
        ul
          li <p style="text-align:center">Informasi <i>web</i> disimpan dalam dokumen yang dinamakan <i>web page</i></p>
          li <p style="text-align:center">Web <i>page</i> disimpan ke dalam komputer yang dinamakan <i>web server</i></p>
          li <p style="text-align:center"><i>User</i> menampilkan <i>web page</i> dengan menggunakan <i>web browser</i></p>
          li <p style="text-align:center"><i>Web browser</i> meminta <i>web page</i> kepada <i>web server</i> dengan mengirim <i>request</i> alamat dari <i>web page</i> tersebut, misalnya <u>http://www.yahoo.com</u></p>
          li <p style="text-align:center">Pada saat <i>web browser</i> menerima <i>web page</i> dari <i>web server</i>, isi <i>web page</i> akan diterjemahkan dan ditampilkan ke layar oleh <i>web browser</i></p>

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild